# File extensions
*~
*#*#*
*.d
*.so
*.pcm
*.png
*.ps
*.eps
*.pdf
.nfs*
*.root

!runplan/*.pdf
!CALIBRATION/bcm_calib/*
!hcswif/*
!jobsub
!post_analysis/*/*/*
!post_analysis/special_studies/track_efficiency_study/documentation/*.pdf
!post_analysis/special_studies/b4c_subtraction/*
!post_analysis/special_studies/ca48_contamination/slides/*.key

# Directories
RAID
REPORT_OUTPUT
HISTOGRAMS
MON_OUTPUT
CAFE_OUTPUT
ROOTfiles
.root_history
raw
raw.copiedtotape
cache
scratch

# Symbolic links
hcana
libHallC.so*
